/*variables*/

:root{
    /*screen sizes*/
    --s: 576px;
    --m: 768px;
    --l:992px;
    --xl:1200px;
    --xxl:1400px;
    /*font color*/
    --regularText:#545454;
    --secondaryText:#7a7a7a;
}

/*Global attributes*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}



hr{
    width: 80%;
}

section{
    display: flex;
}

button{
    border: white 2px solid;
    background-color: white;
    font-family:'IBM Plex Sans', sans-serif;
    font-weight: 300;
    color: #545454;
    border-radius: 25px;
    box-shadow: 0px 5px 8px 1px rgb(173 173 173);
    width: clamp(150px, 5vw, 100px);
    margin-top: clamp(20px,2vh,25px);
    transition: color .2s, box-shadow .3s;
}

button:hover{
    color: teal;
    box-shadow: 0px -5px 8px 1px rgb(173 173 173);
}

button:active{
    color: var(--secondaryText);
    box-shadow: 0px 5px 8px rgb(173 173 173) inset;
}

/*Text related styles*/

p{
    font-family:Arial, Helvetica, sans-serif;
    font-family:'IBM Plex Sans', sans-serif;
    color:var(--regularText);
    font-size: clamp(10px,13px,15px);
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
    color:var(--regularText)
}
h1{
    font-weight: 500;
    font-style: italic;
    font-size: clamp(20px,5vw,50px);
}
h2{
    font-weight: 500;
    font-size: clamp(15px,2.7vw,50px);
}
h3{
    font-weight: 400;
    font-size: clamp(15px,0.7vw,50px);
}
h4{
    font-weight: 400;
    font-size: clamp(10px,0.2vw,30px);
    font-style: italic;
    color: var(--secondaryText);
}

img{
    font-size: 0%;
}

/*Common code*/

nav, nav div, nav span{
    display: flex;
    flex-direction: row;
}

#menu {
    position:fixed;
    justify-content: center;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    background-blend-mode: hard-light;
    transition: top 0.4s, opacity 0.3s;
}

nav div{
    width:80%;
    justify-content: space-between;
    align-items: center;
}

nav span {
    width: 42%;
    justify-content: space-between;
}

footer, #footerContainer, .footerSubContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

footer{
    width: 100%;
}

#footerContainer{
    flex-direction: row;
    width: 80%;
}

.footerSubContainer{
    flex-direction: column;
    align-items: normal;
    width: 30%;
    text-align: center;
}

.socialMediaPicker{
    width: 30%;
}

#footerContainer span p{
    margin-block-end: 0.3em;
    margin-block-start: 0.3em;
}
/*Specific elements*/

#navHome p{
    font-weight: bolder;
    font-size: clamp(15px,2vw,20px);
}

#navHome:hover, .navBtn:hover, .footerLink:hover{
    color:var(--secondaryText);
}

.footerHead{
    font-weight: 800;
}

.separatorContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp(50px,4vh,40px);
    margin-top: clamp(100px,4vh,40px);
}

.separator{
    display: flex;
    align-items: center;
    width: clamp(80px,3vw,100px);
    justify-content: center;
    background-image: url("imgs/gradient_300.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.separator img {
    object-fit: contain;
}

.iframeContainer{
    width: 100%;
}

#footerSocialMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#footerSocialMedia img{
    width: 40%;
    object-fit: contain;
}

.screenshotWrapper, #webScreenshots, .screenshotFS{
    display: flex;
}

.webScreenshots{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshotWrapper{
    width: 100%;
    height: clamp(45px,55vh,60vh);
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fullscreen{
    width: clamp(30px,2vh,50px);
}

.screenshotFS{
    width: clamp(100px,5vw,150px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px 1px rgb(173 173 173);
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 25px;
    transition: background-color 0.35s, box-shadow 0.4s;
}

.screenshotFS:hover{
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0px -5px 8px 1px rgba(197, 197, 197, 0.5);
}

.screenshotFS:active{
    box-shadow: 0px 5px 8px rgb(173 173 173) inset;
}

.fullscreenWrapper{
    display:flex;
    position: fixed;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(124, 124, 124, 0.85);
}

.pseudoWrapperWeb{
    display: flex;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

.fullscreenImg{
    position: relative;
    top: 0px;
    width: 100%;
}

.closeWeb{
    background-color: rgba(255, 255, 255, 0.6);
    width: clamp(2vw,3vw,5vw);
    border-radius: 25%;
    margin-bottom: clamp(15px,5vh,20px);
    box-shadow: 0px 5px 8px 1px rgba(197, 197, 197, 0.5);
    transition:box-shadow 0.3s;
}

.closeWeb:hover{
    box-shadow: 0px -5px 8px 1px rgba(197, 197, 197, 0.5);
}

.closeWeb:active{
    box-shadow: 0px 5px 8px rgb(173 173 173) inset;
}

/*animation related*/

#splashImg{
    transition:transform 0.45s, opacity 0.3s;
}

#CTO{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom:5%;
    right:9%;
    height: 50px;
    cursor: pointer;
    transition:opacity 0.3s, transform 0.25s;
}

#CTOMsg {
    display: flex;
    border-radius:25px;
    background-color: rgba(255, 255, 255,.56);
    box-shadow: 0px 5px 8px 1px rgb(173 173 173);
    z-index: 90;
    color: var(--secondaryText);
    margin: 0px 2.3%;
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;
}

.ctoText{
    text-align: center;
    font-size: clamp(10px,3vw,12px);
}

#CTOImg, #CTOImg a{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    background-image: url("imgs/gradient_300.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
}

#CTO img{
    object-fit: contain;
    width: 80%;
    box-shadow: 0px 5px 8px 1px rgb(173 173 173);
    border-radius: 50%;
}

#contactOptions, #OptContainer, .OptSubContainer{
    display: flex;
}

#contactOptions, .OptSubContainer{
    flex-direction: column;
}

#contactOptions{
    position: fixed;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    bottom:5%;
    right:clamp(150px,20vw,300px);
    width: 0px;
    height: 0px;
    border-radius:25px;
    background-color: rgba(255, 255, 255,.56);
    box-shadow: 0px 5px 8px 1px rgb(173 173 173);
    z-index: 80;
    color: var(--secondaryText);
    margin: 0px 2.3%;
    transform: translateX(-500px);
    opacity: 0;
    transition: width 0.4s, opacity 0.3s;
}

#OptContainer{
    justify-content: space-evenly;
    width: 80%;
}

.OptSubContainer{
    width: 40%;
    align-items: center;
}

.OptSubContainer img{
    width: clamp(34px, 3vw, 70px);
}

/*media queries*/
@media screen and (max-width: 768px) {
    #menuContent{
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.74);
        z-index: 100;
    }
    #burger{
        display: block;}
    
    #burger,#closeBtn{
        width: clamp(30px, 5vw, 60px);
        object-fit: contain;
    }

    #footerContainer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #footerContainer span{
        align-items: center;
        margin-top: 4vh;
    }
    .closeWeb{
        width: clamp(4vw,9vw,10vw);
    }
}

@media screen and (max-width:576px) {
    #contactOptions{
        right: clamp(75px,12vw,300px);
    }
}