@import url(mainCore.css);

/*Common code*/

span, div, .brandingElements span{
    display: flex;
}

section{
    justify-content: center;
    align-items: center;
}

div{
    flex-direction: column;
    align-items: center;
    width: 80%;
}

p{
    text-align: center;
}

.brandingElements{
    flex-direction: column;
    align-items: center;
}

.brandingElements span{
    align-items: center;
    gap: clamp(15px,2vw,20px);
}

.brandingElements img{
    width: 56%;
}

.subElementsGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(15px,2vw,20px);
    margin-top: clamp(20px,2vh,25px);
}

.subElementsGallery img{
    width: 30%;
}

iframe{
    display: none;
}

/*specific code*/

#splash{
    margin-top: clamp(120px,150px,180px);
}
#splashContainer img{
    width: 100%;
    object-fit: scale-down;
}

#webElements{
    flex-direction: column;
    align-items: center;
}

#webElements img{
    width: 100%;
}
/*breakpoints*/
@media screen and (max-width: 768px) {
    span{
        flex-direction: column;
    }
    img, .brandingElements img{
        width: 100%;
    }
    .subElementsGallery{
        flex-direction: column;
    }
    .subElementsGallery img{
        width: 80%;
    }
}
