@import url(mainCore.css);

/*Common code*/

span, section div, .brandingElements span{
    display: flex;
}

section{
    justify-content: center;
    align-items: center;
}

section div{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

p{
    text-align: center;
}

.brandingElements{
    flex-direction: column;
    align-items: center;
}

.brandingElements span{
    align-items: center;
    gap: clamp(15px,2vw,20px);
}

.brandingElements img{
    width: 56%;
}

.subElementsGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(15px,2vw,20px);
    margin-top: clamp(20px,2vh,25px);
}

.subElementsGallery img{
    width: 30%;
}

iframe{
    display: none;
}

.infoContainer{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.infoContainer img{
    width: 83%;
    object-fit: contain;

}
/*specific code*/

#splash{
    margin-top: clamp(120px,150px,180px);
}
#splashContainer img{
    width: 100%;
    object-fit: scale-down;
}

.webElements{
    flex-direction: column;
    align-items: center;
}

#webElements img{
    width: 100%;
}

#novi{
    height: 63vh !important;
}
#uin{
    height: 40vh;
}
.uinSplash{
    margin-top: 0px !important;
}
.uinSplashImg{
    width: 60% !important;
}

#apart_test{
    width:80%;
    background: linear-gradient(white, white) padding-box;
    background: linear-gradient(43deg, rgba(170,8,255,1) 0%, rgba(0,184,233,1) 45%, rgba(74,255,117,1) 86%, rgba(90,133,255,1) 100%) border-box;
    border-radius: 25px; 
    border: 2px solid transparent;
    cursor: pointer;
    transition: box-shadow 0.25s;
}

#apart_test span{
    background-color: white;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:0.5vh 0.3vw;
    transition: background-color 0.4s;
}

#apart_test img{
    width: 10%;
}

#apart_test p {
    color: var(--secondaryText);
}

#apart_test:hover{
    box-shadow: 0px 5px 8px 1px rgb(212, 212, 212);
}

#apart_test span:active{
    background-color: transparent;
}

#apart_testWrapper:active #test_text{
    color: white;
}

/*web previews*/

#ayvinos1{
    background-image: url('imgs/ayvinos_webpage_screenshot_800.png');
}
#ayvinos2{
    background-image: url('imgs/ayvinos_webpage_screenshot2_800.png');
}
#sobretodo1{
    background-image: url('imgs/sobretodo_web_screenshot_800.png');
}
#dvee{
    background-image: url('imgs/dvee_screenshot_preview_800.png');
}
/*web previews end*/

.sobretodoLabel{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.sobretodoLabel img{
    width: 36%;
    object-fit: contain;
}

/*breakpoints*/
@media screen and (max-width: 768px) {
    span{
        flex-direction: column;
    }
    img, .brandingElements img{
        width: 100%;
    }
    .subElementsGallery{
        flex-direction: column;
    }
    .subElementsGallery img{
        width: 80%;
    }

    /*Web previews*/
    #ayvinos1{
        background-image: url('imgs/ayvinos_webpage_screenshot_500.png');
    }
    #ayvinos2{
        background-image: url('imgs/ayvinos_webpage_screenshot2_500.png');
    }
    #sobretodo1{
        background-image: url('imgs/sobretodo_web_screenshot_500.png');
    }
    #dvee{
        background-image: url('imgs/dvee_screenshot_preview_500.png');
    }
    /*web previews end*/

    .sobretodoLabel{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
